body {
  font-family: arial;
  margin: 0 auto;
  background: #e3e3e3;
}

/* nav */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/* containers */
.container {
  width: 80%;
  margin: 0 auto;
  border-radius: 3px;
}

.container-title {
  padding: 2%;
  border-bottom: 1px solid #7ec2f3;
}

.sub-container {
  border-radius: 5px;
  float:left;
  background-color: #fff;
  margin:1%;
}

.sub-containter-30 {
  width: 30%;
}

.sub-container-50 {
  width: 50%;
}

.sub-container-70 {
  width: 70%;
}

/* content */

.content {
  /*
  General design for all content types.
  */
}

/* header content specifics */
.headerContent-content {
    background: none repeat scroll 0 0 #FFFFFF;
    opacity: 0.5;
    top:0;
    left:0;
    position: absolute;
}

.headerContent {
    position:relative;

}
